/* .parent{
    display:grid;
    grid-template-rows: 20px 30px 40px;
    grid-template-columns: 30px 40px 50px;
    width:200px;
    height:300px;

} */
 /* .parent{
    display:grid;
    grid-template-rows:1fr 1fr  1fr;
    grid-template-columns:1fr 2fr ;
    grid-column-gap:20px;
 } */
.a{
    background-color: aqua;
    border:2px solid black;
}
