p{
    color:aquamarine
}
h2{
    color:blueviolet
}
.first 
{
    color:rosybrown
}
.second
{
    font-style: italic
}
.a{
 background-color: brown
}
.b
{
    padding-left: 150px
}
.c{
    color:aqua
}

.myclass{
    font-style: oblique
}
.yours{
    color:aqua
}