body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
         width:80%;
         height:70%;
         border:1px solid green;
         display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width:10%;
    height:60%;
    border:1px solid black;
}